/* Reset de Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração Geral */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d1a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

/* Seção da Esquerda */
.left-section {
    text-align: left;
    max-width: 400px;
}

.left-section h2 {
    font-size: 32px;
    color: #66fecb;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 255, 153, 0.6);
}

.left-section img {
    width: 100%;
    max-width: 400px;
}

/* Estilização da Caixa de Login */
.login-box {
    background-color: #1a1a2e;
    width: 450px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 255, 153, 0.2);
    text-align: center;
}

.login-box h2 {
    color: #66fecb;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 255, 153, 0.6);
}

/* Estilização dos Campos de Entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #29293d;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.1);
}

/* Botão Estilizado */
.btn {
    width: 100%;
    padding: 12px;
    background-color: #66fecb5e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 255, 153, 0.3);
}

.btn:hover {
    background-color: #66fecb5e;
    box-shadow: 0px 4px 15px rgba(0, 255, 153, 0.5);
}